<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div class="sc_btn_box">
    <input type="file" class="sc_btn" id="file">
    <span class="file_uploader">选择</span>
</div>
<div class="m_img_holder"></div>
<div id="show_msg" style="margin-left:80px;"></div>
<div class="xz_btn">
    <button class="btn btn-success queding" id="submit">确定</button>
    <button class="btn btn-success quxiao">取消</button>
</div>

<form action="/student">
    <input name="sname">姓名<br/>
    <input name="birthday">生日<br/>
    <input name="sex">性别<br/>
    <input name="telephone">电话<br/>
    <input name="email">又见<br/>
    <button class="xiazai" type="submit">下载</button>
</form>

</body>
<script type="text/javascript">

  /*  var map = '{"sname":"' + 1
        + '","telephone":"' + 2
        + '","email":"' + 3
        + '"}';

    $(".xiazai").click(function () {

        $.ajax({
            url:"student",
            processData : false,
            contentType : 'application/json;charset=utf-8',
            type:"POST",
            dataType : 'json',
            data : map,
            success:function (data) {
          alert(data)
            },
        })
    })


*/
    $(function () {
        $("#submit").click(function () {
            if ($("#file").val().length > 0) {
                ajax_upload();
            }else {
                alert("请选择文件");
            }
        })

    })

    function ajax_upload(){
        var formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        $.ajax({
            url:"upload",
            type:"post",
            data:formData,
            processData:false,
            contentType:false,
            success:function(data){
                alert(data);
                $('.tc_box').hide();
            },
            error:function(e){
                alert("错误！！");

            }
        });

    }

</script>
</html>